ollama
python-docx
langchain
langchain-ollama
langchain-community
transformers 
llama-index 
sentence-transformers
textstat
llama-index-llms-ollama
llama-index-readers-web
pypandoc
pandoc
pydantic
openai
pytest
PyYAML
pytest